PHYS[[:space:]]410-510[[:space:]]Chapter[[:space:]]9.ipynb filter=lfs diff=lfs merge=lfs -text
PHYS[[:space:]]410-510[[:space:]]Chapters[[:space:]]1-4.ipynb filter=lfs diff=lfs merge=lfs -text
PHYS[[:space:]]410-510[[:space:]]Chapter[[:space:]]8.ipynb filter=lfs diff=lfs merge=lfs -text
g_2.ipynb filter=lfs diff=lfs merge=lfs -text
2025.ipynb filter=lfs diff=lfs merge=lfs -text
PHYS[[:space:]]410-510[[:space:]]Chapter[[:space:]]10.ipynb filter=lfs diff=lfs merge=lfs -text
PHYS[[:space:]]410-510[[:space:]]Chapter[[:space:]]5.ipynb filter=lfs diff=lfs merge=lfs -text
PHYS[[:space:]]410-510[[:space:]]Chapter[[:space:]]6.ipynb filter=lfs diff=lfs merge=lfs -text
PHYS[[:space:]]410-510[[:space:]]Chapter[[:space:]]7.ipynb filter=lfs diff=lfs merge=lfs -text
chapter10.pdf filter=lfs diff=lfs merge=lfs -text
chapter5.pdf filter=lfs diff=lfs merge=lfs -text
chapter6.pdf filter=lfs diff=lfs merge=lfs -text
chapter7.pdf filter=lfs diff=lfs merge=lfs -text
chapter8.pdf filter=lfs diff=lfs merge=lfs -text
chapter9.pdf filter=lfs diff=lfs merge=lfs -text
chapters1-4.pdf filter=lfs diff=lfs merge=lfs -text
syllabus.pdf filter=lfs diff=lfs merge=lfs -text
chapters[[:space:]]2-3.pdf filter=lfs diff=lfs merge=lfs -text
chapters1,4.pdf filter=lfs diff=lfs merge=lfs -text
schrodinger.ipynb filter=lfs diff=lfs merge=lfs -text
